.knockout-page {
  
}

.list-test {
  list-style-type: none;
  padding: 0;
}

.list-test-item {
  cursor: pointer;
  padding: 0.5em;
  border: 0.5px solid grey;
  border-radius: 0.2em;
  margin-bottom: 0.5em;
  transition: box-shadow 0.3s;
}

.list-test-item:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.list-test-item-clicked {
  background-color: cornflowerblue;
  color: white;
}

